.action-button
	position: relative

	.action-progress
		width: $button_size
		height: $button_size
		margin: 0.5em
		padding: 0.5em

		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0

		background-color: rgba(0, 0, 0, 0.25)
		color: #fff
		border: 1px solid transparent
		border-radius: 4px

		display: flex
		align-items: center
		justify-content: center

		&.hidden
			display: none

	button
		width: $button_size
		height: $button_size
		margin: 0.5em
		padding: 0.5em

		background: #ddd
		color: #000
		border: 1px solid #fff
		border-radius: 4px

		&:hover, &:focus
			background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1))

	for name in $c_colors
		&.style-{name}
			button
				background-color: lookup('$' + name + '_bg')
				color: lookup('$' + name + '_fg')
				border-color: lookup('$' + name + '_bg')
