.sidebar-timezones
	display: flex
	flex-flow: row wrap
	justify-content: center
	align-items: baseline

	margin: 1em 0.5em
	border-bottom: 1px solid $sidebar_text_color

	.sidebar-timezone
		display: flex
		flex-flow: column nowrap
		justify-content: center
		align-items: center

		width: 96px
		height: 96px
		margin: 0.5em

		text-align: center

		strong
			margin: 0 0 0.5em 0
