@import "properties"

*, *:before, *:after
	box-sizing: border-box

body
	background: $background_color
	color: $text_color
	font-family: sans-serif

	margin: 0
	padding: 0

@import 'sidebar'
@import 'sidebar-timezone'
@import 'group'
@import 'button'
